@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To Admin Page</h2>
   
    <div>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: lightpink; " asp-controller="Admin" asp-action="GetProductDetails">Get Product Details</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: lightpink; " asp-controller="Admin" asp-action="GetCustomerDetails">Get Customer Details</a></h2>
        @*<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 12px; background-color: light; " asp-controller="Customer" asp-action="AddProduct">Customer</a></h2>*@
        
    </div>
</div>


