@{
    ViewData["Title"] = "Customer Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome To Customer Page</h2>
   
    <div>
          <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: #B4ECE3; " asp-controller="Customer" asp-action="ProductDetailsList">List Of Product</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: #B4ECE3; " asp-controller="Customer" asp-action="AddProduct">Add Product</a></h2>
        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: #B4ECE3; " asp-controller="Customer" asp-action="EditProduct">Edit Product</a></h2>
@*        <h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: #F1DDBF; " asp-controller="Customer" asp-action="GetProductbyId">Search Product</a></h2>*@
        @*<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: unset; margin: 10px; background-color: #B4ECE3; " asp-controller="Customer" asp-action="SearchOrderProducts">Search order Product</a></h2>
      *@
       
           
        @*<h2><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 12px; background-color: light; " asp-controller="Customer" asp-action="AddProduct">Customer</a></h2>*@
        
    </div>
</div>


